<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.student.practice.Studenttest1"/>
      <class name="com.TestNGimplement.wizGrade.searchStudnetTest"/>
      <class name="com.TestNGimplement.wizGrade.SubjectTest"/>
      <class name="com.TestNGimplement.wizGrade.StudentTest"/>
      <class name="com.student.practice.StudentGradeTest1"/>
      <class name="com.student.practice.StudentGradeTest"/>
      <class name="com.student.practice.Studenttest"/>
      <class name="com.student.practice.StudentGradetest2"/>
      <class name="com.student.practice.StudentTest4"/>
      <class name="com.student.practice.StydentTest2"/>
      <class name="com.TestNGimplement.wizGrade.LeaveStusentTest"/>
      <class name="com.student.practice.StudentTest3"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
